$color1: #f38181;
$color2: #374249;
$color3: #797979;
$color4: #374249;
$color5: #cfd1d3;
$color6: #f3f7f9;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$font: 'Roboto', sans-serif;;